#notfound {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notfound {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.notfound h1 {
    font-size: 5rem;
}